.form-group1{
    margin-top: 90px;
    background-color:#ecbcbc;
    padding-left: 60px;
    padding-bottom: 30px;
}

.forms-section{
	background-color: cornflowerblue;
	width: 806px;
	margin-left: 80px;
	margin-top: 90px;
}

.container{
	background-color: #0612a2d1;
	height: 650px;
}

.row {
    padding-top: 98px;
    background: lightseagreen;
}



.img-fluid{
	width: 156px;
    margin-left: 217px;
    margin-bottom: -304px;
}


.form-grouppp{
  
    background-color:#d8a4c0;
    padding-top: 43px;
    
}


.img-fluid1 {
    margin-left: 306px;
    margin-bottom: -7px;
    height: 45px;
    width: 230px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -90px;
}


.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    margin-left: 218px;
    width: 349px;
}


.row1 {
    padding-top: 8px;
    background: lightseagreen;
}




.Signin{

    margin-top: -20px;
    margin-left: 580px;
    color: yellow;

}

.form-grouptt{
    margin-top: 90px;
    background-color: #bd21b1;
    padding-left: 60px;
    padding-bottom: 30px;
    color: #000000;


}

.homepage{
    padding-top: 50px;
    margin-left: -307px;
}